doctype html
html(lang='en')
  head
    title Hotelz
    link(rel='stylesheet', type='text/css', href='/stylesheets/header.css')
    link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Black+Han+Sans')
    link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Roboto')
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css')
    style.
      #map {
      height: 600px;
      width: 100%;
      }
  body
    // Header bar
    .fixed
      ul
        li#home
          a(href='index.html') Hotelz
        li
          a(href='account.html') #{username}
        li
          a(href='help.html') help
        li#search
          #searchDiv
            form(action='search.html')
              input(type='text', name='search', placeholder='Where do you want to go?')
              button#searchButton(type='submit')
                i.fa.fa-search
    // Page code
    #leftDiv.searchDiv
        .searchResult
            .searchImg
                img(src='hotelimg2.jpg', alt='Hotel image', width='240', height='135')
            .searchTxt
                .srName
                    h2 #{hotel1}
                .srReview
                    p ★ ★ ★ ★ ☆ 
                .srAddress
                    p #{address1}
                .bookDiv
                    form(action='hotel.html')
                        button(type='submit') Book now!
        .searchResult
            .searchImg
                img(src='hotelimg2.jpg', alt='Hotel image', width='240', height='135')
            .searchTxt
                .srName
                    h2 Name
                .srReview
                    p ★ ★ ★ ★ ☆ 
                .srAddress
                    p NAME
                .bookDiv
                    form(action='hotel.html')
                        button(type='submit') Book now!
        .searchResult
            .searchImg
                img(src='hotelimg2.jpg', alt='Hotel image', width='240', height='135')
            .searchTxt
                .srName
                    h2 The fake hotel
                .srReview
                    p ★ ★ ★ ★ ☆ 
                .srAddress
                    p 12 fake street
                .bookDiv
                    form(action='hotel.html')
                        button(type='submit') Book now!
        .searchResult
            .searchImg
                img(src='hotelimg2.jpg', alt='Hotel image', width='240', height='135')
            .searchTxt
                .srName
                    h2 The fake hotel
                .srReview
                    p ★ ★ ★ ★ ☆ 
                .srAddress
                    p 12 fake street
                .bookDiv
                    form(action='hotel.html')
                        button(type='submit') Book now!
        .searchResult
            .searchImg
                img(src='hotelimg2.jpg', alt='Hotel image', width='240', height='135')
            .searchTxt
                .srName
                    h2 The fake hotel
                .srReview
                    p ★ ★ ★ ★ ☆ 
                .srAddress
                    p 12 fake street
                .bookDiv
                    form(action='hotel.html')
                        button(type='submit') Book now!

    #rightDiv.searchDiv
        #map
            script(src='javascripts/map.js')
            script(async='', defer='', src='https://maps.googleapis.com/maps/api/js?key=AIzaSyBoGfWTN5a2HIBzamyHxp6QIrtWWs9Fkks&callback=initMap')